<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        E-mail é obrigatório
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        E-mail inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha" required>
      <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
        Senha é obrigatória
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Entrar</button>
  </form>
</mat-card>
